/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}








.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}




.section-title {
    margin: 0px;
    font-size: 22px;
    color: #000000;

}

body {

    margin: 0px;
}

/* titre Hebergments,populaires et activités */

h2 {
    line-height: 20px;
    margin-top: 15px;
    font-size: 22px;
}

.titre-hebergements {
    padding: 20px 0 5px 40px;
}

.section-title {

    font-size: 22px;
    color: #000000;

}





.card {

    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}



.card-title {
    font-size: 16px;
}





.neutral-star {
    color: var(--main-bg-color)
}

/************ large devices (DESKTOP) *************/
@media (min-width:1024px) {


    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }




    .hotel-card:hover,
    .card:hover {

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.4s;
    }


    .les-activites {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

    }

    .activites .card {

        width: 23%;
    }


    .euro {

        font-weight: bold;
    }

    .hotel-row {
        margin-top: 10px;

        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;

    }


    .hotel-card {
        background-color: white;
        padding: 5px;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
        width: 28%;
        min-width: 20%;
        margin-bottom: 20px;
        border-radius: 20px;
        height: 197px;


    }


    .hotel-card img {
        width: 100%;
        height: 110px;
        object-fit: cover;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }

    .hotel-rating {
        padding-top: 5px;
        margin: 10px;
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;


    }


    .hotel-rating .fa-solid {

        margin: 1px;

    }


    p.hotel-price {
        margin-left: 10px;
        margin-top: 0px;

        font-weight: 500;
    }



    .hebergements {

        width: 64%;
    }

    .dynamictext .footer .h4 {
        text-align: justify;


    }

    .activites img {
        height: 377px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }

    .titre-partie-activites {

        margin-left: 35px;
        margin-bottom: 10px;
    }


    .activites .card {
        margin: 15px;

    }



    .partie-activites {
        margin-top: 60px;
    }

    .card h4 {
        margin: unset;
        font-weight: 700;
        font-size: 16px;
    }

    .activites h4 {
        padding: 20px;

    }

    .activites h2 {
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .activites {

        padding-left: 20px;
        padding-right: 20px;
    }

    .populaires {
        padding: 20px;
        width: 30%;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 10px 10px 10px;
    }





    .populaires-cards img {

        height: 135px;
        border-radius: 20px 0 0 20px;
        padding: 5px;

    }

    .populaires-cards .card-content {

        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .populaires-cards .card {

        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        height: 146px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .card-image {

        width: 30%;


    }

    .card-image img {
        object-fit: cover;
        width: 100%;

    }

    .card-content {
        width: 65%;

    }



    .populaires-cards .card-title {

        margin-top: 15px;
        margin-bottom: 4px;

    }

    .card-txt {

        width: 90%
    }

    .populaires-cards .card-subtitle {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    .populaires-cards .card-rating {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }


    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;

    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding-bottom: 0px;

    }

    footer h4 {
        margin-top: 16px;
        margin-bottom: 0;

        font-size: 19px;
    }



    .populaires-cards {
        flex-direction: column;
    }



    .hotel-name {
        font-size: 17px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 7px;

    }

    .hotel-card H3 {

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .hotel-price {
        font-size: 14px;
        color: #000000;
    }

    h3 {
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    }



    .populaires-cards {

        white-space: nowrap;


    }


    .logo img {
        height: 20px;
        margin-top: 30px;
    }

    /* barre en haut du site */

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .texte-accueil {

        padding-top: 40px;
    }



    /* bouton hebergement et activités */

    nav ul {
        display: flex;
        margin: 0px;
    }



    ul {

        list-style-type: none;
        padding: unset;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    nav li:hover {
        border-top: solid 2px #0065FC;
        cursor: pointer;
        color: #0065FC;

    }

    nav li {
        border-top: solid 2px transparent;
        margin-left: 60px;
        line-height: 55px;
    }

    .menu a {
        font-weight: 500;
        display: flex;
    }


    /*Phrase entre filtre et logo booki */

    .texte-accueil p {
        margin-top: 0px;
        margin-bottom:
            35px;


    }

    H1 {

        margin-bottom: 5px;
        font-size: 22px;
    }




    /* barre de recherche Marseille,france et rechercher */






    .recherches {
        margin-bottom: 30px;

    }


    .formulaire {
        display: flex;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;


    }


    .populaires-title .fa-solid {
        font-size: large;

    }

    .fa-location-dot {
        border: solid 1px #F2F2F2;
        border-radius: 15px 0 0 15px;
        padding: 16px;
        border-right-style: none;
        background-color: #F2F2F2;
        font-size: 17px;
        color: #000000;
        padding-right: 18px;
    }

    .texte-recherche {
        font-weight: 700;
        font-size: large;
        border: solid 1px#F2F2F2;
        border-right: none;
        width: 190px;
        height: 49px;
        padding-left: 20px;
    }

    input::placeholder {
        color: black;
    }



    .bouton-recherche {
        border: none;
        border-radius: 0 15px 15px 0;
        height: 49px;
        width: 132px;
        border-left-style: none;
        background-color: #0065FC;
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: center;
    }

    .fa-magnifying-glass {

        display: none;
    }

    /* Les filtres */

    .filtre:hover {
        cursor: default;


    }


    .filtre i {
        margin-right: 10px;
        font-size: 22px;
    }

    .filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

        margin-bottom: 15px;
    }

    .boutons-filtres {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }


    .premier-double-bouton {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .deuxieme-double-bouton {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .filtre {
        margin-left: 15px;
        background-color: white;
        border-radius: 50px;
        border: solid 2px #D9D9D9;
        padding: 11px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }

    .filtre p {
        margin: 0px;
        font-weight: 700;
        font-size: large;

    }

    .filtre:hover {
        background-color: #DEEBFF;
    }











    /* Barre information  */
    .information {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

    }

    .fa-info {
        border: solid 2px #F2F2F2;
        border-radius: 50%;
        padding: 5px 9px;
        font-size: 12px;
        margin-right: 10px;
    }

    /* bouton afficher plus */

    .afficher-plus {
        display: block;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .nombre-logement H3 {

        font-size: medium;
        font-weight: 400;

    }





    /************** bas de la page ********************/

    footer {
        background-color: #F2F2F2;
        margin-top: 50px;
        padding-left: 20px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
    }

    footer div {
        width: 100%
    }



    footer li {
        white-space: nowrap;
        margin-top: 15px;
        font-size: 17px;
    }

}


/****** Media queries ***********/
/**************** Medium devices (tablets, less/equal than 1024px) **************************************/
@media (min-width: 768px) and (max-width: 1023px) {
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }






    /*Phrase entre filtre et logo booki */

    .texte-accueil p {
        margin-top: 0px;
        margin-bottom:
            35px;


    }

    H1 {

        margin-bottom: 5px;
        font-size: 22px;
    }









    .hotel-card:hover,
    .card:hover {

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.4s;
    }


    .les-activites {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

    }

    .activites .card {

        width: 22%;
    }




    .hotel-row {

        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        padding-top: 10px;

    }

    .toto {
        width: 33%;
        height: 150px;

    }


    .hotel-card {
        background-color: white;
        padding: 5px;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
        width: 28%;
        min-width: 20%;
        margin-bottom: 20px;
        border-radius: 20px;
        height: 195px;
    }


    .hotel-card img {
        width: 100%;
        height: 110px;
        object-fit: cover;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }


    p.hotel-price {
        margin-bottom: 2px;
        font-weight: 500;
        margin-left: 12px;
    }

    .hebergements {

        width: 100%;
    }

    .dynamictext .footer .h4 {
        text-align: justify;


    }

    .activites img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .activites .card {
        margin: 15px;

    }



    .partie-activites {
        margin-top: 25px;
    }

    .titre-partie-activites h2 {

        margin-left: 15px;
    }




    .card h4 {
        margin: unset;
        font-weight: 700;
        font-size: 16px;
    }

    .activites h4 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .activites h2 {
        margin-bottom: 15px;

    }

    .populaires {
        padding: 20px;
        padding-bottom: 32px;
        width: 96%;

    }

    .euro {

        font-weight: bold;
    }

    .populaires-cards .card-subtitle {

        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;

    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 15px 0px 25px;
    }

    .populaires-cards .card {
        height: 145px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        margin: 10px;
    }

    .populaires-cards img {
        width: 80%;
        height: 135px;
        border-radius: 20px 0 0 20px;
        padding: 5px;
        object-fit: cover;

    }

    .card-image {
        height: 135px;
        width: 40%;

    }

    .card-content {

        width: 60%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .populaires-cards .card-content {

        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .card-txt {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .populaires-cards .card-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin-top: 10px;
        margin-bottom: 4px;
        margin-right: 5px;

    }




    .populaires-cards .card-rating {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin: 10px;
        margin-left: 0px;
        margin-bottom: 15px;
    }


    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        margin-bottom: 50px;

    }

    footer h4 {
        margin-top: 16px;
        margin-bottom: 0;

        font-size: 19px;
    }







    .hotel-name {
        font-size: 16px;
        margin-top: 5px;
        margin-left: 12px;
    }


    .hotel-price {
        font-size: 14px;
        color: #000000;
    }






    .logo img {
        height: 20px;
        margin-top: 30px;

    }

    /* barre en haut du site */

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

    }

    /* bouton hebergement et activités */

    nav ul {
        display: flex;
        margin: 0px;
    }

    ul {
        list-style-type: none;
        padding: unset;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    nav li:hover {
        border-top: solid 2px #0065FC;
        cursor: pointer;

        color: #0065FC;
    }


    nav li {
        border-top: solid 2px transparent;
        margin-left: 60px;
        line-height: 55px;
    }

    .menu a {
        font-weight: 500;
    }

    /* barre de recherche Marseille,france et rechercher */






    .recherches {
        margin-bottom: 20px;

    }


    .formulaire {
        display: flex;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;


    }

    .populaires-title .fa-solid {
        font-size: large;

    }

    .hotel-rating .fa-solid {

        margin: 1px;

    }

    .hotel-rating {
        padding-top: 5px;
        margin: 10px;
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }



    .fa-location-dot {
        border: solid 1px #F2F2F2;
        border-radius: 15px 0 0 15px;
        padding: 16px;
        border-right-style: none;
        background-color: #F2F2F2;
        font-size: 17px;
        color: #000000;
        padding-right: 18px;
    }

    .texte-recherche {
        font-weight: 700;
        font-size: large;
        border: solid 1px#F2F2F2;
        border-right: none;
        width: 190px;
        height: 49px;
        padding-left: 20px;
    }

    input::placeholder {
        color: black;
    }



    .bouton-recherche {
        border: none;
        border-radius: 0 15px 15px 0;
        height: 49px;
        width: 132px;
        border-left-style: none;
        background-color: #0065FC;
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: center;
    }

    .fa-magnifying-glass {

        display: none;
    }

    /* Les filtres */


    .filtres H3 {}

    .filtre:hover {
        cursor: default;
    }

    .filtre i {
        margin-right: 10px;
        font-size: 22px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 30px;
        width: 78%;
    }

    .boutons-filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
    }

    .premier-double-bouton,
    .deuxieme-double-bouton {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
    }

    .filtre {
        margin-right: 15px;
        background-color: white;
        border-radius: 50px;
        border: solid 2px #D9D9D9;
        padding: 11px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
    }

    .filtre p {
        font-weight: 700;
        margin: 0;
        white-space: nowrap;

    }

    .filtre:hover {
        background-color: #DEEBFF;
    }

    /* Barre information  */
    .information {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .fa-info {
        border: solid 2px #F2F2F2;
        border-radius: 50%;
        padding: 5px 9px;
        font-size: 12px;
        margin-right: 10px;
    }

    /* bouton afficher plus */

    .afficher-plus {
        display: block;
        margin: 10px;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        margin-left: 30px;
        margin-bottom: 30px;
    }


    .nombre-logement H3 {

        font-size: medium;
        font-weight: 400;

    }




    /************** bas de la page ********************/

    footer {
        background-color: #F2F2F2;
        margin-top: 50px;
        padding-left: 20px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
    }

    footer div {
        width: 100%
    }



    footer li {
        white-space: nowrap;
        margin-top: 15px;
        font-size: 17px;
    }
}

/************ Small devices (phones, less than 768px) *******************************************/
@media (max-width: 767px) {


    .body {

        width: 100%;
    }

    .main-container {
        width: 100%;



    }



    .logo img {
        height: 20px;
        padding-top: 30px;


    }

    .logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;


    }


    /* bouton hebergement et activités *********/




    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;

    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }

    ul {
        list-style-type: none;
        padding: unset;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    nav li:hover {
        border-bottom: solid 2px #0065FC;

        padding: 20px 45px;
        color: #0065FC;


    }

    nav li {
        border-bottom: solid 2px #F2F2F2;
        padding: 20px 45px;
        width: 50%;
        text-align: center;
    }


    .texte-accueil {

        padding-left: 20px;
        padding-right: 20px;
    }


    .menu a {
        font-weight: 500;
    }



    /* barre de recherche Marseille,france et rechercher */




    .formulaire {
        display: flex;
        align-items: center;
        padding-left: 15px;
        width: 100%;

    }

    .barre-de-recherche {

        width: 94%;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
    }

    .fa-location-dot {
        border: solid 1px #F2F2F2;
        border-radius: 15px 0 0 15px;
        padding: 15px;
        border-right-style: none;
        background-color: #F2F2F2;
        font-size: 17px;
        color: #000000;
    }

    .texte-recherche {
        font-weight: 700;
        font-size: large;
        border: solid 1px#F2F2F2;
        border-right: none;
        width: 100%;
        height: 49px;
        padding-left: 20px;
        padding-right: 20px;
    }

    input::placeholder {
        color: black;

    }



    .bouton-recherche {
        display: none;

    }

    .fa-magnifying-glass {

        font-size: large;
        border: none;
        border-radius: 15px 15px 15px 15px;
        height: 50px;
        width: 50px;
        background-color: #0065FC;
        color: white;
        line-height: 50px;
        text-align: center;
        filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));

    }




    /************* Les filtres ****************/


    .filtres H3 {

        padding-left: 15px;
        padding-bottom: 5px;
    }

    .filtre:hover {
        cursor: default;


    }




    .filtre i {
        margin-right: 10px;
        font-size: 22px;

    }

    .filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 30px;
        width: 95%;
    }


    .boutons-filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }

    .premier-double-bouton,
    .deuxieme-double-bouton {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }



    .filtre {
        width: 40%;
        margin-left: 15px;
        background-color: white;
        border-radius: 50px;
        border: solid 2px #D9D9D9;
        padding: 11px;
        padding-left: 15px;
        padding-right: 15px;

        margin-bottom: 20px;
    }

    .filtre p {
        font-weight: 700;
        margin: 0;
        white-space: nowrap;

    }

    .filtre:hover {
        background-color: #DEEBFF;
    }



    /************** Barre information  *************/
    .information {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .fa-info {
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 10px;
        margin-right: 10px;
    }

    .nombre-logement H3 {

        font-size: medium;
        font-weight: 400;
        padding-right: 20px;

    }




    /******   Populaires  *************/


    .toto {

        width: 90%;
        height: 150px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }


    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .populaires {
        background-color: #F2F2F2;
        padding-bottom: 20px;

        width: 100%;

    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 15px 10px 25px;
    }





    .populaires-cards img {
        width: 30%;
        height: 130px;
        border-radius: 20px 0 0 20px;
        padding: 5px;

    }

    .populaires-cards .card-content {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .populaires-cards .card {


        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }



    .card-image {

        width: 30%;
        height: 140px;

    }

    .card-image img {
        object-fit: cover;
        width: 90%;
        height: 130px;

    }

    .card-content {
        width: 60%;

    }



    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    /**************** HEBERGEMENT  **************/

    .titre-hebergements {
        padding: 0px;

    }


    .titre-hebergements H2 {

        padding: 0px;
    }





    .hotel-row {
        display: flex;
        flex-direction: column;


    }


    .hotel-card img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }

    .hotel-card {
        background-color: white;
        padding: 5px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
        width: 95%;

        margin-bottom: 20px;
        border-radius: 20px;

    }



    h3.hotel-name {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 2px;
        margin-bottom: 4px;

    }

    .hotel-rating {
        padding-left: 10px;
        padding-right: 10px;

    }


    /* bouton afficher plus */

    .afficher-plus {
        display: block;
        margin: 20px;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
    }




    /********** activités******/

    .hebergements {

        padding: 20px;
    }

    .activites img {
        height: 400px;
    }



    .les-activites {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;

    }


    .activites img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .activites .card {
        margin: 15px;

    }



    .partie-activites {
        margin-top: 30px;
    }

    .card h4 {
        margin: unset;
        font-weight: 700;
        font-size: 16px;
    }

    .activites h4 {
        padding: 20px;
        white-space: nowrap;
    }

    .activites h2 {
        margin-bottom: 15px;
    }







    /************** bas de la page ********************/

    footer {
        background-color: #F2F2F2;
        width: 100%;
        margin-top: 25px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    footer div {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 40px;
    }
}