/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px)
 {
  
   
   


.hotel-row {
    flex-direction: column;}

    .populaires-cards {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        width: 370%;
    }

    

  
 }

.section-title {
    font-size: 24px;
    color: #0065FC;
}

.hotel-card {

    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box; 
    
    img {
        width: 100%;
        height: 150px; 
        object-fit: cover; 
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;}
        

.populaires-cards
{
    flex-direction: column;}

}

.hotel-name {
    font-size: 18px;
    margin-top: 10px;
}

.hotel-price {
    font-size: 14px;
    color: #000000;
}


.btn-show-more {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #0065FC;
    text-decoration: none;}

 

/* Styles pour la barre de navigation */
.navbar {
    background-color: #ffffff; /* Couleur de fond */
    box-shadow: 00 0000px 00px rgba(0, 00, 0, 00.0); /* Ombre */
    padding: 040px 0; /* Espacement interne */
}

.container {border:solid 5px blue;
    display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: stretch;
align-content: stretch;}

.navbar .container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}

.logo img {
    height: 30px; 
}

.navbar-search {
    flex: 1; 
}

.navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    display: inline;
    margin-right: 20px; 
}

.navbar-links li:last-child {
    margin-right: 0; 
}

.navbar-links a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

.navbar-links a:hover {
    color: #0065FC; 
}

/* Styles pour la barre de recherche */
.search-bar {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.search-location {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 0px 0 0 20px; 
}



.search-input {
    background-color: white; 
    padding: 10px;
    span {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
}

.navbar-recherche {
    background-color: #0065FC; 
    padding: 10px;
    border-radius: 0 10px 10px 0; /* Arrondi sur le coin droit */
    cursor: pointer;
    span {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
}




